---
layout: single
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<style>
  .publication-bibliography {
    padding: 0;
    margin: 1.5rem 0 0;
    list-style: none;
  }

  .publication-bibliography li {
    padding-left: 2rem;
    margin-bottom: 1rem;
    text-indent: -2rem;
  }
</style>

<p>
  {% if site.author.googlescholar %}
    Also available on <a href="{{ site.author.googlescholar }}">Google Scholar</a>.
  {% endif %}
  <a href="{{ base_path }}/bibliography/publications.bib">Download BibTeX</a>.
</p>

{% if site.data.publications and site.data.publications.size > 0 %}
  <ol class="publication-bibliography">
    {% for publication in site.data.publications %}
      <li>
        {% include publication-citation.html publication=publication %}
      </li>
    {% endfor %}
  </ol>
{% else %}
  <p>Publication list coming soon.</p>
{% endif %}
